{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <h1>Scoli de dans</h1>
    <ul class="list-group">
        {% for school in schools %}
            <li class="list-group-item">
                <a target="_blank" rel="noopener noreferrer" href="{{ path('admin_school', {'id': school.id}) }}">
                    {{ school.name }}
                </a>
            </li>
        {% endfor %}
    </ul>

</div>
{% endblock %}
