{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">

        <h1>School: {{ school.name }}</h1>
        <br>

        <h3> Get bookinks: </h3>
        <form action="{{ path('admin_bookinks', {'id': school.id}) }}" method="post">
            <label for="start">From:</label><br>
            <input type="datetime-local" id="start" name="start"><br>
            <label for="end">To:</label><br>
            <input type="datetime-local" id="end" name="end"><br><br>
            <input type="submit">
        </form>
        <br><br>

        <h3> Teachers: </h3>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
            </tr>
            </thead>
            <tbody>
            {% for teacher in school.teachers %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>
                        <a target="_blank" rel="noopener noreferrer" href="{{ path('admin_school_teacher_bookings', {'id': teacher.id}) }}">
                            {{ teacher }}
                        </a>
                    </td>
                    <td>{{ teacher.email }}</td>
                    <td>{{ teacher.phone }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h3> Clients: </h3>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
            </tr>
            </thead>
            <tbody>
            {% for client in school.clients %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>
                        <a target="_blank" rel="noopener noreferrer" href="{{ path('admin_school_client_bookings', {'id': client.id}) }}">
                            {{ client }}
                        </a>
                    </td>
                    <td>{{ client.email }}</td>
                    <td>{{ client.phone }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
