{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">

        <h1>Teacher : {{ teacher }}</h1>

        <h3> Bookings: </h3>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Start At</th>
                <th scope="col">End At</th>
                <th scope="col">Client</th>
            </tr>
            </thead>
            <tbody>
            {% for booking in teacher.bookings %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ booking.title }}</td>
                    <td>{{ booking.beginAt ? booking.beginAt|date('d-m-Y H:i') : '' }}</td>
                    <td>{{ booking.endAt ? booking.endAt|date('d-m-Y H:i') : '' }}</td>
                    <td>
                        <a target="_blank" rel="noopener noreferrer" href="{{ path('admin_school_client_bookings', {'id': booking.client.id}) }}">
                            {{ booking.client }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}