<h2>Add Lessons</h2>
<form method="post" action="{{ path('client_add_lessons', {'id': client.id}) }}">
    {% for number in lesson_number %}
        <input type="radio" id="{{ number.id }}" name="lessonsNumber" value="{{ number.value }}">
        <label for="{{ number.id }}">{{ number.value }}</label><br>
    {% endfor %}
    <input type="submit" value="Add private Classes">
</form>