

{% if is_granted('ROLE_ADMIN') %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Meniu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('school') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <!--
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('client_index') }}">Client</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('booking_index') }}">Booking</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('teacher_index') }}">Teacher</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('booking_calendar') }}">Calendar</a>
                </li>
                -->
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('user_index') }}">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_school_list') }}">Schools</a>
                </li>
                <!--
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Worksheet
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('school_worksheet') }}">Check</a>
                        <a class="dropdown-item" href="{{ path('school_worksheet_pdf') }}">PDF</a>
                    </div>
                </li>
                -->
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

{% else %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Meniu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('school') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('client_index') }}">Client</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Booking
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('booking_new') }}">Booking one cilent</a>
                        <a class="dropdown-item" href="{{ path('booking_party') }}">Group activities</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('teacher_index') }}">Teacher</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('booking_calendar') }}">Calendar</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Worksheet
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('school_worksheet') }}">Check</a>
                        <a class="dropdown-item" href="{{ path('school_worksheet_pdf') }}">PDF</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

{% endif %}
