{% extends 'base.html.twig' %}

{% block title %} Program de lucru {% endblock %}

{% block stylesheets %}

    <style>
        a{
            color: black;
        }
    </style>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3>Selectati alta zi pentru programul de lucru aici:</h3>
                            <div class="form-group">
                                <form action="{{ path('school_worksheet') }}" method="post">
                                <div class="input-group date" id="datetimepicker4" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker4" name="today"/>
                                    <div class="input-group-append" data-target="#datetimepicker4" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                                    <input type="submit">
                                </form>
                            </div>
                        </div>
                        <script type="text/javascript">
                            $(function () {
                                $('#datetimepicker4').datetimepicker({
                                    format: 'L'
                                });
                            });
                        </script>
                    </div>
                </div>

                <center>
                    <h1>Program Lectii {{ app.user }}</h1>
                    <h2>{{ day }}</h2>
                </center>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">Start At</th>
                        <th scope="col">End At</th>
                        <th scope="col">Teacher</th>
                        <th scope="col">Client</th>
                        <!--<th scope="col">Signature</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    {% for booking in bookings %}
                        <tr>
                            <td>
                                <a href="{{ path('booking_edit', {'id': booking.id}) }}">
                                    {{ booking.beginAt ? booking.beginAt|date('H:i')}}
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('booking_edit', {'id': booking.id}) }}">
                                    {{ booking.endAt ? booking.endAt|date('H:i')}}
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('booking_edit', {'id': booking.id}) }}">
                                    {{ booking.teacher }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('booking_edit', {'id': booking.id}) }}">
                                    {{ booking.client }}
                                </a>
                            </td>
                            <!--<td></td>-->
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>

{% endblock %}